<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477641094553-m47lbd553rfke2t1t96a142e68hi7ktn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477641094553-m47lbd553rfke2t1t96a142e68hi7ktn</string>
	<key>API_KEY</key>
	<string>AIzaSyBO_-OwH_xbTf4ghL-a_DByhdczOQUz3eU</string>
	<key>GCM_SENDER_ID</key>
	<string>477641094553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vkar</string>
	<key>PROJECT_ID</key>
	<string>vkar-a814b</string>
	<key>STORAGE_BUCKET</key>
	<string>vkar-a814b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477641094553:ios:66c5fff768616507894f08</string>
	<key>DATABASE_URL</key>
	<string>https://vkar-a814b.firebaseio.com</string>
</dict>
</plist>